<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>RequestRecv</display-name>
    <servlet-name>RequestRecv</servlet-name>
    <servlet-class>helloservlet.RequestRecv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestRecv</servlet-name>
    <url-pattern>/RequestRecv</url-pattern>
  </servlet-mapping>
  <display-name>HouseHold</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>java_mysql.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Housebookservlet</display-name>
    <servlet-name>Housebookservlet</servlet-name>
    <servlet-class>householdservlet.Housebookservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Housebookservlet</servlet-name>
    <url-pattern>/Housebookservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mysql</display-name>
    <servlet-name>mysql</servlet-name>
    <servlet-class>java_mysql.mysql</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mysql</servlet-name>
    <url-pattern>/mysql</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistSpendingDAO</display-name>
    <servlet-name>RegistSpendingDAO</servlet-name>
    <servlet-class>dao.RegistSpendingDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistSpendingDAO</servlet-name>
    <url-pattern>/RegistSpendingDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Data</display-name>
    <servlet-name>Data</servlet-name>
    <servlet-class>model.Data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Data</servlet-name>
    <url-pattern>/Data</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>YearlyServlet</display-name>
    <servlet-name>YearlyServlet</servlet-name>
    <servlet-class>householdservlet.YearlyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YearlyServlet</servlet-name>
    <url-pattern>/YearlyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalendarServlet</display-name>
    <servlet-name>CalendarServlet</servlet-name>
    <servlet-class>householdservlet.CalendarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalendarServlet</servlet-name>
    <url-pattern>/CalendarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>householdservlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UseRequestServlet2</display-name>
    <servlet-name>UseRequestServlet2</servlet-name>
    <servlet-class>householdservlet.UseRequestServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UseRequestServlet2</servlet-name>
    <url-pattern>/UseRequestServlet2</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>householdservlet.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/LoginFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>householdservlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>