@charset "UTF-8";

button {
  background-color: #4CAF50; /* 落ち着いたグリーン */
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #45a049;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.Calendar {
	width: 40px;
	height: 150px;
	border-collapse: collapse;
	border-collapse: separate;
	border-spacing: 20px;
}

.Calendar th {
	padding: 0px;
	border: 0px none;
}

.Calendar td {
	padding: 1px 10px;
	white-space: nowrap;
}

.Spending {
	color: orangered;
	font-size: 12px;
}

.Income {
	color: blue;
	font-size: 12px;
}

.MonthSpending {
	color: orangered;
	font-size: 24px;
	text-align: center;
}

.MonthIncome {
	color: blue;
	font-size: 24px;
	text-align: center;
}

.NextMonth {
	text-align: right;
	padding-right: 300px;
}

.LastMonth {
	text-align: left;
	float: left;
	padding-left: 300px;
}

.hamburger-menu {
    cursor: pointer;
    z-index: 100;
    position: relative;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99;
    right: 0; /* メニューを右寄せにしたい場合はこの行を追加 */
}

.menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-content a:hover {
    background-color: #f1f1f1;
}