@charset "UTF-8";


body {
	background-color: #f5f3eb;
}

.selectYearMonth {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 50px;  /* セル間のスペースを100pxに設定 */
    text-indent: initial;
}


.graph-container {
	display: flex;
	/* Flexboxレイアウトを使います */
	justify-content: center;
	/* 水平方向の中央揃え */
	align-items: center;
	/* 垂直方向の中央揃え */
	height: 100vh;
	/* コンテナの高さをビューポートの高さに合わせます */
	margin: auto;
}

#monthlyFinanceChart {
	max-width: 800px;
	/* グラフの最大幅を800pxに設定 */
	max-height: 600px;
	/* グラフの最大高さを600pxに設定 */
	width: 100%;
	/* グラフの幅を親要素に合わせて100%に設定 */
	height: auto;
	/* グラフの高さを自動で調整 */
}

.update {
	text-align: center;
}