<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

  <display-name>HouseHold</display-name>

  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>

  <!-- LoginFilter -->
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>householdservlet.LoginFilter</filter-class>
  </filter>

  <!-- LoginFilter の適用範囲（ログイン後の画面だけ） -->
<filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/1CalendarApiServlet</url-pattern>
  </filter-mapping>


  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/YearlyServlet</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </filter-mapping>

  <!-- YearlyServlet -->
  <servlet>
    <servlet-name>YearlyServlet</servlet-name>
    <servlet-class>householdservlet.YearlyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YearlyServlet</servlet-name>
    <url-pattern>/YearlyServlet</url-pattern>
  </servlet-mapping>

  <!-- RegisterServlet -->
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>householdservlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>

</web-app>
